.example-icon {
    padding: 0 14px;
    height: 32px;
    margin-right: 16px;
  }

  .example-padding {
    padding: 0 14px;
    margin-left: 10px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .example-card {
    /* max-width: 400px; */
    margin: 20px;
  }

  .chart {
    width: 100%; 
    min-height: 450px;
  }

  .div-center{
    display: flex;
    justify-content: center;
  }
  


  .app-content {
    /* padding: 15px; */
    height: max-content;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
  }



  .docs-footer {
    padding: 12px;
    font-size: 12px;
    
    background: #3f51b5;
    color: #fff;
  }