<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <img class="example-icon" src="assets/logos/Top500_logo.png">
      <span *ngIf="innerWidth > 450px">Supercomputadoras</span>
      <span *ngIf="innerWidth <= 450px">Top500</span>
      <span class="example-spacer"></span>

      <a *ngIf="innerWidth > 450px" class="example-padding" mat-stroked-button href="https://www.top500.org/"
        target="_blank">Top500</a>

      <a class="example-padding" mat-stroked-button href="https://github.com/desarroyo/top500" target="_blank">
        <img src="assets/logos/github-circle-white-transparent.svg" alt="angular" class="docs-angular-logo"></a>

    </mat-toolbar-row>

  </mat-toolbar>
</header>

<div *blockUI="'block-top-50'" style="padding-top: 10px;" class="app-body">

  <div class="app-content" flex="noshrink">



    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Top500.org</mat-card-title>
        <mat-card-subtitle>Supercomputadoras</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <p>El proyecto <b>Top500</b> es un ranking de las 500 <b>supercomputadoras</b> con mayor rendimiento del mundo.
        </p>

        <!-- <button mat-button appDebounceClick (debounceClick)="click()" [debounceTime]="400">Click me!</button> -->

      </mat-card-content>
    </mat-card>

    <mat-card *ngIf="chart1" class="example-card">
      <mat-card-header>
        <mat-card-title>Mejor Posicionados</mat-card-title>
        <mat-card-subtitle>Top 500</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="div-center">

        <google-chart class="chart" [title]="chart1.title" [type]="chart1.type" [data]="chart1.data"
          [columnNames]="chart1.columnNames" [options]="chart1.options">
        </google-chart>



      </mat-card-content>
      <mat-card-actions style="margin: auto; width: fit-content;">
        <button mat-raised-button color="primary" (click)="getTotalesChart(currentYear-1)">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button mat-raised-button (click)="clickTotalesPlay()">
          <mat-icon>play_arrow</mat-icon>
        </button>
        <button mat-raised-button color="primary" (click)="getTotalesChart(currentYear+1)">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>

    <div *blockUI="'block-crecimiento'" >
    <mat-card *ngIf="lineChart1" class="example-card">
      <mat-card-header>
        <mat-card-title>Mayor Crecimiento</mat-card-title>
        <mat-card-subtitle>Top500</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="div-center">

        <google-chart class="chart" [title]="lineChart1.title" [type]="lineChart1.type" [data]="lineChart1.data"
          [columnNames]="lineChart1.columnNames" [options]="lineChart1.options">
        </google-chart>

      </mat-card-content>
      <mat-card-actions>
        <mat-form-field *ngIf="true" style="width: 100%;">
          <mat-select [formControl]="bankCtrl" placeholder="País" (selectionChange)="selectCountry()" #singleSelect>
            <mat-option>
              <ngx-mat-select-search [formControl]="bankFilterCtrl" placeholderLabel="País...">
              </ngx-mat-select-search>
            </mat-option>

            <mat-option *ngFor="let bank of filteredBanks | async" [value]="bank">
              {{bank.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-actions>
    </mat-card>
  </div>




</div>

<footer class="docs-footer">
  <span class="example-spacer"></span>
  <span class="example-padding">CUCEA MTI 2020</span>
</footer>

</div>