<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <img class="example-icon" src="assets/logos/Top500_logo.png">
      <span *ngIf="innerWidth > 450px">Supercomputadoras</span>
      <span *ngIf="innerWidth <= 450px">Top500</span>
      <span class="example-spacer"></span>

      <a *ngIf="innerWidth > 450px" class="example-padding" mat-stroked-button href="https://www.top500.org/" target="_blank">Top500</a>

      <a class="example-padding" mat-stroked-button href="https://github.com/desarroyo/top500" target="_blank">
        <img src="assets/logos/github-circle-white-transparent.svg" alt="angular" class="docs-angular-logo"></a>

    </mat-toolbar-row>

  </mat-toolbar>
</header>

<div class="app-body">

  <div class="app-content" flex="noshrink">

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{title_pie}}</mat-card-title>
        <mat-card-subtitle>Top 500</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="div-center">

        <google-chart class="chart" [title]="chart.title" [type]="chart.type" [data]="chart.data"
          [columnNames]="chart.columnNames" [options]="chart.options">
        </google-chart>
        


      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button (click)="clickEvent()" >SHARE</button>
      </mat-card-actions>
    </mat-card>


    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="div-center">

        <google-chart class="chart" [title]="lineChart.title" [type]="lineChart.type" [data]="lineChart.data"
          [columnNames]="lineChart.columnNames" [options]="lineChart.options">
        </google-chart>

        

      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-raised-button (click)="clickEvent()" color="primary">Botòn</button>
      </mat-card-actions>
    </mat-card>




  </div>

  <footer class="docs-footer">
    <span class="example-spacer"></span>
    <span class="example-padding">CUCEA MTI 2020</span>
  </footer>

</div>